aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
appdirs
asttokens
attrs
bcrypt
beautifulsoup4
blinker
bs4
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cssselect
cycler
decorator
dnspython
dotenv
executing
fake-useragent
filelock
Flask
flask-cors
Flask-JWT-Extended
fonttools
frozenlist
google-auth
greenlet
gunicorn
h11
httpcore
httpx
idna
importlib_metadata
instaloader
ipython
itsdangerous
jedi
Jinja2
joblib
kiwisolver
lxml
lxml_html_clean
MarkupSafe
matplotlib
matplotlib-inline
multidict
numpy
openai==0.27.0
outcome
packaging
pandas
parse
parso
pillow
playwright
prompt_toolkit
propcache
pure_eval
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pyee
Pygments
PyJWT
pymongo
pyparsing
pyppeteer
pyquery
PySocks
python-dateutil
python-dotenv
python-whois
pytz
regex
requests
requests-file
requests-html
rsa
scikit-learn
scipy
seaborn
selenium
six
sniffio
sortedcontainers
soupsieve
stack-data
tabulate
threadpoolctl
tldextract
tqdm
traitlets
trio
trio-websocket
typing-inspection
typing_extensions
tzdata
urllib3
w3lib
waitress
wcwidth
webdriver-manager
websocket-client
Werkzeug
wsproto
xgboost
yarl
zipp
